{% extends "layout.html" %}

{% block content %}
    <h1>Todolist</h1>
    <br/>

    <form class="input-group">
        <input
            class="form-control"
            name="description"
            type="text"
            placeholder="Task Description"
        />
        <button
            class="btn btn-primary"
            hx-post="/tasks/"
            hx-target="#tasks"
            hx-swap="innerHtml"
        >
            Create New Task!
        </button>
    </form>
    <br/>
    
    <ul
        id="tasks"
        class="list-group"
        hx-trigger="load"
        hx-get="/tasks"
    >
    </ul>
{% endblock %}
