{% for task in tasks %}
    <li class="list-group-item d-flex gap-4">
        <input
            class="form-check-input"
            type="checkbox"
            hx-put="/tasks/{{ task.id }}"
            hx-trigger="change"
            hx-target="#tasks"
            hx-swap="innerHtml"
            {% if task.completed %}checked{% endif %}
        >
        <span class="flex-grow-1 {% if task.completed %}text-decoration-line-through{% endif %}">
            {{ task.description }}
        </span>
        <button
            class="btn-close btn-sm btn-danger"
            hx-delete="/tasks/{{ task.id }}"
            hx-confirm="Are you sure?"
            hx-target="#tasks"
            hx-swap="innerHtml"
        >
        </button>
    </li>
{% endfor %}
